#div-community-list-browser {
    padding: 0 10px;
}

#community-list-browser ul {
    padding: 0 0 0 0px;
    margin: -4px 5px 3px 0;
}

#community-list-browser li {
    list-style: none;
    padding: 2px 0 0 0;

}

#community-list-browser ul.hide {
    display: none;
}

#community-list-browser span {
    color: #999;
    font-family: "Courier New", Courier, monospace;
    font-size: 1.2em;
    font-weight: bold;
    cursor: default;
}

#community-list-browser span.expanded, #community-list-browser span.collapsed {
    cursor: pointer;
}

#community-list-browser a.community {
    color: #5E7C5E;
    font-weight: bold;
}

#community-list-browser a.collection {
    color: #005b7f;
    font-weight: bold;
}

#community-list-browser ul .subcommunitiesOrderingOnPage {
    margin-left: 15px;
    font-size: 13px;

}

#community-list-browser li .collectionsOrderingOnPage {
    margin-left: 15px;
    font-size: 15px;
}

#community-list-browser li .communitiesOrderingOnPage {
    margin-left: 15px;
    font-size: 15px;
}

